$.fancybox.close();
$('[data-js=firm-logo-image]').attr('src', '#{Firm.new.logo_url}');
$('.sv-firm-edit-logo').find('.edit').addClass('no-display');
$('.sv-firm-edit-logo').find('.remove').addClass('no-display');