window.modalViewer = new AlbumViewer(window.location, window.location, '#{j(render 'new')}');
window.modalViewer.show();
window.photoUploader = new PhotoUploader(#{params[:upload_to].present? ? 'true' : 'false'});