= form_tag interesting_url(subdomain: ''), method: :get, class: 'footer-search' do
  = text_field_tag 'tags', nil, placeholder: t('.placeholder'), class: 'search-field'
  = button_tag(type: 'submit') do
    %i.icon-search