%tr
  %td.avatar
    = message.header_link_to_user_avatar
  %td.info
    .user
      = message.header_link_to_user_name
    .date
      = message.created_at
  %td.message
    .message_clearfix
      .message_anchor
        = message.header_link_to_message