.firm-settings{ id: "firm-control-panel-page#{firm_page.id}", style: 'display:none;' }
  .sv-article
    .title_nobg Редактирование дополнительной страницы
    .cap_company
      = render 'firm_pages/form', firm_page: firm_page