.firm-settings{ id: "firm-control-panel-#{id}", style: 'display:none;' }
  .sv-article
    .title_nobg= title
    .cap_company
      Для управления данным разделом перейдите на ваш сайт в раздел «#{title}»
    .cap_company
      = link_to 'Перейти', path, class: 'link-style'