= render 'firms/control_panel/monetize/services', firm: @firm, services: @services
= render 'firms/control_panel/monetize/purse'
= render 'firms/control_panel/monetize/payments'
= render 'firms/control_panel/monetize/dealer'