#sv-user-password {
  .list-form-seting {
    position: relative;
    margin-bottom: 20px;
    overflow: visible;
  }
  .ovflhid {
    overflow: visible;
    .sv-l.rows-form {
      margin-bottom: 20px;
    }
  }
  .notification {
    @include notification_light;
  }
  .password-changed {
    line-height: 36px;
    padding: 0 0 0 $main-margin;
  }
  .password-no {
    display: none;
    font-size: 0.9em;
    color: red;
    line-height: 36px;
    margin-left: $main-margin;
  }
  .link-style.sv-l {
    line-height: 36px;
    height: 36px;
  }
}
