- content_for(:title, t('.title'))
.page-block
  .page-content.page404
    .top-block><
      .error-text 404
      .error-logo= image_tag('404_logo.png')
    .bottom-block><
      .text
        %h3= t('.head')
        %p= t('.text')