- resource = resource || User.new
#forgot-password
  %h1.title Забыли пароль?
  = simple_form_for resource, as: resource_name, url: password_path(resource_name), validate: true, html: { method: :post } do |f|
    %div
      .description Для восстановления пароля введите e-mail, который вы указывали при регистрации. Вам на почту будет отправлени инструкция по восстановлению пароля
      .field-block
        .notification Введите e-mail
        = f.input :email, as: :hidden, input_html: { value: '' }
        = f.input :email, placeholder: 'E-mail', label: false, input_html: {class: 'input-big input-long'}

    = f.submit 'Восстановить пароль', class: 'link-style input-big'
