#mini-site-about-us-settings.mini-site-settings.sv-article.margintopotstp
  .title_nobg.top-marg О нас

  = text_area_tag :about_us, nil, class: 'about-us', placeholder: 'Введите информацию о своей комапнии'

  .result.clear
    = link_to 'Сохранить', '#', class: 'link-style sv-l'
