.plan-of-measure
  .stag-party-marker
    .time 11.00
    .marker-text
      .name
        Выкуп невесты
      .description
        Весёлые конкурсы, полоса препятствий, шутки, прибаутки
    %i.icon-remove

  .add-new-item
    = link_to '#' do
      .text
        Добавить пункт
      .plus
        +
  .map
  .link-style
    Сохранить