#firm-control-panel-monetize-services.firm-settings{ style: 'display:none;' }
  .sv-article
    = render 'firms/control_panel/monetize/balance_top'

    #monetize-services= render 'bonus/services/services', services: services, firm: firm


