= link_to_sort path, 'По дате добавления', 'created_at', true
= link_to_sort path, 'По рейтингу', 'cached_votes_up', false
= link_to_sort path, 'По просмотрам', 'views', false
.clear
:javascript
  infinitescrollPosts();
