= simple_form_for answer, :url => answer.new_record? ? community_question_answers_path(community_id, question_id) : community_question_answers_path(community_id, question_id, answer) do |f|
  = f.input :body, :input_html => {:style => "width: 500px;", :rows => 6}
  %button.btn.btn-primary Отправить
