.sv-admin-photo-sub-menu
  = link_to 'Список фотографий', admin_photos_path, class: 'link-style'
  = link_to 'Просмотреть фотографию', @photo, class: 'link-style'

.sv-admin-photo-form
  = render 'form'
