%tr{class: purse_payment.html_class}
  %td.sv-text-centr= purse_payment.created_at
  %td.sv-text-centr= purse_payment.deposit
  %td.sv-text-centr= purse_payment.withdrawal
  %td{title: purse_payment.description.html_safe}= purse_payment.name.html_safe