.sv-banner-ad{'data-js' => 'banner-ad', style: 'display:none;'}
  = link_to '#', class: 'sv-banner-ad__link sv-banner-ad__link_title', 'data-js' => 'banner-ad-link' do
    %span.sv-banner-ad__title{'data-js' => 'banner-ad-title'}

  = link_to '#', class: 'sv-banner-ad__link sv-banner-ad__link_description', 'data-js' => 'banner-ad-link' do
    %span.sv-banner-ad__description{'data-js' => 'banner-ad-description'}