window.modalViewer = new ModalViewer(window.location, window.location, '#{j(render 'avatar', client: @client, avatar: @avatar, avatar_image: @avatar_image, comments: @avatar_comments)}');
window.modalViewer.show();