$('[data-js=client-avatar-image]').attr('src', '#{Client.new(gender: @client.gender).avatar_url}');
$('.sv-client-avatar__action_edit').addClass('sv-client-avatar__action_hidden');
$('.sv-client-avatar__action_destroy').addClass('sv-client-avatar__action_hidden');