- @cities.group_by(&:region).each do |region, cities|
  %h3= region.name
  %table.index_table
    %tbody
      - cities.in_groups_of(4) do |group|
        %tr
          - group.each do |city|
            %td
              %b= city.name if city
            %td
              - if city
                - city_ratio = @service.city_ratios.city(city)
                = best_in_place city_ratio, :percent, path: update_city_ratio_admin_bonus_service_city_ratios_path(@service, city)
%br