%h1.title= t('.title')
.arrows
  = link_to 'up', '#', class: 'sv-comments-arrow sv-comments-arrow_asc'
  = link_to 'down', '#', class: 'sv-comments-arrow sv-comments-arrow_desc sv-comments-arrow_current'
