#subscription-firm-catalog-items.subscription-firm-catalog-items
  .items.js-masonry(data-masonry-options='{ "columnWidth": 320, "itemSelector": ".item" }')
    = render partial: "#{@subscription.service.class.to_s.underscore}/item", collection: items, as: :item, locals: {subscription: subscription, ids: ids}