#sv-admin-firms .firm_spheres_firm_catalog_id{
  margin: 22px 0 0 0;
}

#sv-admin-firm-form{
  input[type="text"], textarea {
    width: 650px;
  }
  input[type="submit"] {
    margin: 15px 0 0 0;
  }
  .firm_spheres_id .firm_catalog_id {
    width: 350px;
  }
  .firm_spheres_firm_catalog_id .firm_catalog_ids {
    width: 312px;
  }
}


