#access-form {
  border: 1px solid #cccccc;
  border-left: none;
  background: white;
  padding: $grid-gutter-width / 2;
  .access-info:after { content: ': '; }
  input.password {
    height: 34px;
  }
}