= render 'layouts/header/client/minisite',  client: current_client.decorate
= render 'layouts/header/client/friends',  client: current_client.decorate
= render 'layouts/header/client/settings', client: current_client.decorate