<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=<%= Secrets.analytics['yandex']%>&amp;from=informer"
   target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/<%= Secrets.analytics['yandex']%>/3_0_FE5183FF_DE3163FF_1_pageviews"
                                       style="width:1px; height:1px; border:0;" alt="" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:<%= Secrets.analytics['yandex']%>,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->