/* начало gif_list*/

.sv_gift_list {
    overflow: hidden;
    margin: 0 0 46px 0;
}

.pictures {
    float: left;
}

.features {
    line-height: 16px;
    width: 412px;
    float: left;
    font-size: 12px;
    margin: 0 0 0 14px;
}

.mini-title {
    font-weight: 300;
    font-size: 15px;
    color: #c84563;
    margin: 0 0 10px 0;
    display: block;
}

.tehno_button {
    overflow: hidden;
    clear: both;
    margin: 12px 0 0 0;
}

.tehno_button a {
    margin: 0 7px 0 0;
}

.add_a_gift {
    display: block;
    clear: both;
    margin: 204px 0 0 0;
}

.add_a_gift a {
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #b2b2b2;
}

.add_a_gift img {
    margin: 0 10px 0 0;
}

.roster_money {
    overflow: hidden;
    font-size: 14px;
    color: #4d4d4d;
    margin: 0 0 14px 0;
}

.number-list {
    width: 26px;
    padding: 0 0 0 7px;
}

.add-gift {
    margin: 30px 0 35px 0;
}

/* конец gif_list*/

/* начало m-s_basic_settings */
.mini_site {
    overflow: hidden;
    margin-bottom: 34px;
}

.address_wedding {
    float: left;
}

.address_save {
    float: right;
}

.caption label {
    width: 263px;
    overflow: hidden;
}

.nuptial {
    float: left;
    width: 317px;
}

.main_list-seting label {
    width: 297px;
}

.main_list-seting {
    overflow: hidden;
    margin: 0 0 16px 0;
}

.sv_design {
    width: 231px;
    padding: 0 0 0 7px;
    font-size: 18px;
}

.vary {
    float: left;
}

.main_list-seting label {
    float: left;
    width: 297px;
}

.link-save {
    margin-top: 19px;
}

.site_preferences {
    overflow: hidden;
    margin: 0 0 41px 0;
}

.context_carte {
    overflow: hidden;
    float: left;
}

.context_carte a {
    float: left;
    margin: 21px 11px 0px 0px;
}

.save_knob {
    float: left;
    width: 405px;
}

.save_knob a {
    margin: 24px 0px 0px 238px;
    padding: 3px 20px 3px 20px;
}

.dop-desc {
    display: block;
    margin: 2px 0 0 6px;
}

.photo_main_page {
    overflow: hidden;
}

.office_pages {
    overflow: hidden;
    margin: 15px 0px 0px 0px;
}

/* конец m-s_basic_settings*/


/* начало basic_settings_of */
.cap_company {
    padding: 0px 0px 21px 10px;
}

.cap_company label {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif1;
    color: #808080;
}

.cap_company input {
    margin: 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

.cap_company span {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif1;
    color: #b2b2b2;
}

.figuration {
    overflow: hidden;
}

.pick {
    width: 150px;
    padding: 0 0 0 17px;
}

.undergraduate {
    width: 346px;
}

.undergraduate a {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #c84563;
    text-decoration: underline;
}

.figuration {
    overflow: hidden;
    margin: 0px 0px 32px 0px;
}

.sv-avatar {
    overflow: hidden;
    display: block;
    width: 420px;
    margin: 28px auto 0;
}

.ava_photo {
    float: left;
    padding: 0px 25px 0px 0px;
}

.photo_block {
    overflow: hidden;
}

.pictures_avatar {
    padding: 4px;
    width: 143px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.pictures_avatar img {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.ava_photo_medium {
    float: left;
    padding: 12px 20px 0px 0px;
}

.pictures_avatar_medium {
    padding: 4px;
    width: 114px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.pictures_avatar_medium img {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.ava_photo_mini {
    float: left;
    padding: 28px 0px 0px 1px;
}

.pictures_avatar_mini {
    padding: 4px;
    width: 83px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.pictures_avatar_mini img {
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.push-button {
    overflow: hidden;
    width: 276px;
    margin: 22px auto 32px;
}

.title_nobg span {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif1;
    color: #b3b3b3;
    margin: 0px 0px 0px 7px;
    line-height: 12px;
}
/* конец basic_settings_of */

/* начало m-site_guest_list */
.list_groom_bride {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif1;
    margin: 0px 0px 30px 0px;
}

.list_groom {
    margin: 0px 0px 0px 17px;
    width: 99px;
    font-size: 14px;
    color: #4d4d4d;
}

.list_name_groom {
    width: 328px;
    color: #4d4d4d;
    font-size: 18px;
}

.title_bride {
    overflow: hidden;
    margin: 0px 0px 15px 0px;
}

.dignity_groom_bride {
    overflow: hidden;
}

.groom_company {
    overflow: hidden;
    margin: 0px 0px 15px 0px;
}

.groom_alinement {
    font-family: 'Open Sans', sans-serif1;
}

.groom_alinement span {
    padding: 6px 0px 0px 6px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif1;
    color: #4d4d4d;
}

.wm {
    margin: 4px 4px 0px 14px;
}

.groom_company button {
    margin: 6px 0px 0px 0px;
}

.that_guest {
    padding: 15px 0px 0px 33px;
}

.quantity_drinck {
    float: left;
    margin: 0px 0px 0px 6px;
}
/* конец m-site_guest_list */

/* начало setting_wedding */
.drive_wedding_date {
    margin: 0px 0px 35px 11px;
}

.city_which_wedding {
    overflow: hidden;
    margin: 0px 0px 25px 0px;
}

.face_whuman {
    overflow: hidden;
    margin: 0px 0px 8px 15px;
}

.enter_the_name {
    overflow: hidden;
    margin: 0px 0px 15px 0px;
}

.enter_the_name input {
    margin: 0px 0px 0px 5px;
}

.fixing {
    width: 116px;
    overflow: hidden;
    margin: 29px auto 0px;
}
/* конец setting_wedding */

/* начало minis_guesst_list_content */
.table_the_contents {
    background-color: #c84563;
    padding: 22px 0px 22px 12px;
}

.table_the_contents span {
    font-family: 'Open Sans', sans-serif1;
    font-size: 22px;
    color: #fff;
}

.yclept {
    overflow: hidden;
    margin: 0px 0px 0px 12px;
}

.newlyweds {
    width: 300px;
    margin: 19px 0 0 0;
}

.newlyweds span {
    margin: 0px 0px 0px 5px;
}
/* конец minis_guesst_list_content */

/* начало company_mamber */
.user-info img {
    margin: 0px 5px 3px 0px;
}

.profile_card_marriage {
    overflow: hidden;
}

.the_newlyweds {
    overflow: hidden;
    width: 204px;
}

.fase_of {
    width: 202pxpx;
}

.daybang {
    padding: 1px 5px 0px 5px;
    background-color: #f1849d;
    width: 90px;
    float: left;
    text-align: center;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    color: #fff;
    line-height: 33px;
}

.daybang span {
    display: block;
    font-family: 'Open Sans', sans-serif1;
    font-size: 36px;
    color: #fff;
}

.fase_of img {
    float: left;
    width: 100px;
}

.explanation_task {
    display: block;
    overflow: hidden;
    background-color: #c84563;
    width: 184px;
    padding: 0px 8px 0px 8px;
}

.explanation_task .auxiliary a:hover {
    background: #f1849d;
}

.explanation_task .agree a:hover {
    background: #f1849d;
}

.auxiliary {
    padding: 8px 0px 8px 0px;
}

.sv-icon-auxiliary {
    background: image-url('sorted/drop.png') no-repeat;
    padding: 0px 0px 0px 22px;
}

.auxiliary a {
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 5px 0 5px;
}

.auxiliary img {
    margin: 0px 11px 1px 16px;
}

.agree {
    padding: 0px 0px 0px 1px;
}

.agree a {
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0 5px 0 5px;
}

.sv-icon-agree {
    background: image-url('sorted/gfloch.png') no-repeat;
    padding: 0px 0px 0px 22px;
}

.menology {
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    color: #fff;
    padding: 7px 0px 12px 5px;
}

.sv-icon-menology {
    background: image-url('sorted/almanac.png') no-repeat;
    padding: 0px 0px 0px 22px;
}

.white_button {
    background-color: #fff;
    width: 150px;
    text-align: center;
    padding: 3px 0px 5px 0px;
}

.white_button:hover {
    background: #fafafa;
}

.white_button a {
    font-family: 'Open Sans', sans-serif1;
    font-size: 16px;
    color: #c84563;
    text-decoration: none;
}

.our_site_you {
    width: 151px;
    margin: 6px auto 20px;
}

.incarnadine .sv-logo span {
    background: image-url('sorted/sv-company-rounded-pink.png') no-repeat ! important;
}

.rescued_me {
    overflow: hidden;
    margin-top: 12px;
}

.mine_the_campaign {
    width: 600px;
}

.magnifier_filtr {
    background-color: #e6e6e6;
    width: 50px;
    height: 51px;
}

.magnifier_filtr img {
    margin: 18px 0px 0px 16px;
}

.settings_mine_the_campaign {
    background-color: #e6e6e6;
}

.viscera_mine_the {
    overflow: hidden;
}

.viscera_mine_the_campaign {
    width: 320px;
    padding: 30px 0px 0px 17px;
}

.placing_mine_the_campaign {
    padding: 30px 0px 0px 17px;
    width: 282px;
}

.viscera_mine_the_showing {
    overflow: hidden;
    display: block;
    padding: 25px 0px 0px 18px;
}

.campaign_scan {
    padding: 0px 19px 19px 0px;
}

.wedding_advertising {
    overflow: hidden;
    margin-top: 20px;
}

.incarnadine {
    border: 1px solid #c84563 !important;
    background-color: #fce9ed !important;
    margin: 0 0 12px 0;
    padding: 0;
}

.sv_phone_spun {
    background: image-url('sorted/phone_spun.png') no-repeat;
    padding: 0px 0px 0px 22px;
}

.title-nomarg {
    margin: 0 !important;
}

.sv_side_firm li a.tag {
    background: #c84563 !important;
}

.sv_side_firm li a.tag:hover {
    background: #FA99B0 !important;
}

.sv_side_firm .name {
    font-weight: 700 !important;
}

.sv_side_firm .sv-side-dec {
    margin: 0 0 0 10px;
    float: left;
}

.sv-bord-side-box {
    border-bottom: 1px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    border-right: 1px solid #9b9b9b;
    margin: 0 !important;
    padding: 7px 0 !important;
}

.sv-side-box-ros {
    background: #f1849d;
    margin: 0 !important;
    padding: 7px 0 !important;
}

.sv-side-box-ros span, .sv-side-box-ros a {
    color: #fff !important;
}

/* конец company_mamber */


/* начало conn_service_toup_balans(popup) */
.replenish_the_balance {
    font-weight: 300;
    font-size: 22px;
    color: #c84563;
    padding: 12px 0 12px 10px;
    margin-bottom: 24px;
}

.menu_repshments {
    overflow: hidden;
    display: block;
    margin: 0px 0px 0px 2px;
}

.repshments-red {
    background: #c84563;
    display: block;
    text-align: center;
    border: 1px solid #c84563;
    margin: 0px 4px 0px 4px;
    padding: 0px 22px 0px 22px;
}

.repshments-red a {
    text-decoration: none;
    color: #fff;
}

.repshments-red:hover {
    background: #f1849d;
}

.repshments-red span {
    display: block;
}

.repshments-white {
    border: 1px solid #c84563;
    display: block;
    text-align: center;
    padding: 0px 12px 0px 12px;
    margin: 0px 0px 0px 3px;
}

.repshments-white a {
    text-decoration: none;
    color: #c84563;
    display: block;
}

.repshments-white:hover {
    background: #f1849d;
    color: #fff;
}

.repshments-white a:hover {
    color: #fff;
}

.repshments-white span {
    display: block;
}

.replenish_the_text {
    margin: 22px 0px 0px 0px;
}

.replenish_the_text p {
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    color: #4d4d4d;
}

.amount_transfers {
    margin: 30px 0px 0px 0px;
}

.amount_transfers input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.amount_transfers span {
    color: #c84563;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    margin: 0px 0px 0px 14px;
}

.moutrans input {
    margin: 0px 5px 0px 0px;
    width: 512px;
    font-family: 'Open Sans', sans-serif;
    font-style: light;
    font-size: 14px;
    color: #acacac;
    background-color: #f3f3f3;
    border-top: 2px solid #999999;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.moutrans {
    overflow: hidden;
    margin: 0 0 38px 0;
    padding: 20px 0px 0px 0px;
}

.moutrans button {
    border: none;
    font-style: light;
    font-size: 16px;
    background-color: #c84563;
    padding: 5px 28px;
    color: #fff;
}

/* конец conn_service_toup_balans(popup) */

/* начало control-manager-panel(popup) */
.to_add_new_task {
    font-weight: 300;
    font-size: 22px;
    color: #c84563;
    padding: 12px 0 12px 10px;
    margin-bottom: 24px;
}

.plus_the_task {
    overflow: hidden;
}

.titles_challenge p {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
}

.titles_challenge input {
    width: 500px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.chois_of_the_week p {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
}

.chois_of_the_week input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 253px;
}

.chois_of_the_week {
    margin: 30px 0px 0px 12px;
}

.chois_of_the_week .sel-style-compact-mini {
    width: 269px;
}

.description_tex textarea {
    -moz-box-shadow: inset 0px 1px 2px #757575;
    -webkit-box-shadow: inset 0px 1px 2px #757575;
    box-shadow: inset 0px 1px 2px #757575;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#757575');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#757575')";
    border: 0;
    background: #f3f3f3;
    width: 780px;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 7px 4px 7px;
    height: 114px;
    max-height: 81px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.description_tex p {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
}

.tags_tasks p {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
}

.tags_tasks input {
    width: 780px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.tegs_shrone {
    padding: 20px 0px 20px 0px;
    overflow: hidden;
}
/* конец control-manager-panel(popup) */


/* начало sv_messages */
.sv-title-flower {
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    padding: 15px 0 15px 10px;
    margin-bottom: 24px;
    background: #c84563;
}

.ava_would-be {
    width: 70px;
    margin: 0px 0px 0px 17px;
}

.would-be_customer_speaking {
    overflow: hidden;
}

.chat_show_would-be a {
    color: #d0687e;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    text-decoration: none;
}

.chat_show_would-be p {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 12px;
}

.chat_show_would-be span {
    color: #b3b3b3;
    font-family: 'Open Sans', sans-serif1;
    font-size: 10px;
}

.chat_show_would-be {
    width: 520px;
}

.sv-response_to_firm {
    overflow: hidden;
    margin: 22px 0px 0px 2px;
}

.ava_response_to_firm {
    width: 70px;
    margin: 0px 0px 0px 17px;
}

.chat_response_to_firm {
    overflow: hidden;
    width: 520px;
}

.chat_response_to_firm a {
    color: #d0687e;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    text-decoration: none;
}

.chat_response_to_firm p {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 12px;
}

.chat_response_to_firm span {
    color: #b3b3b3;
    font-family: 'Open Sans', sans-serif1;
    font-size: 10px;
}

.sv_slide_from_company {
    margin: 0px 0px 0px 26px;
}

.conversation_window {
    background: #f9ecef;
    overflow: hidden;
    display: block;
    margin: 18px 0px 100px 0px;
}

.talking_box {
    margin: 10px auto;
}

.talking_box img {
    margin: 0px 19px 0px 19px;
}

.talking_box textarea {
    background: #fff;
    width: 456px;
    max-width: 456px;
    max-height: 41px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 41px;
    margin: 0px 0px 0px 0px;
}

.container_utility {
    background-color: #ffffff;
    border: 1px solid #808080;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 42);
filter: alpha(opacity = 42);
    }

.cross_mesedj {
    display: block;
    color: #e6e6e6;
    font-family: 'Open Sans', sans-serif1;
    font-size: 10px;
    width: 223px;
    line-height: 12px;
}

.slogan img {
    margin: 0px 8px 3px 0px;
}

.time_tolk {
    display: block;
    color: #999999;
    font-family: 'Open Sans', sans-serif1;
    font-size: 10px;
    line-height: 16px;
}

.sv-side-box-ros {
    display: block;
    overflow: hidden;
}

.sv_side_firm .sv-side-dec {
    margin: 0 0 0 11px ! important;
}

.circle_frame {
    background-color: #f9ecef;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.circle_img_normal {
    width: 82px;
    height: 82px;
    background: #fff;
    border: 2px solid #DFDFDF;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 50px;
    padding: 2px;
    margin: 0 3px;
}

a.img_quadra img {
    width: 88px;
    height: 88px;
    margin: 0px 4px;
}

.img_sheave {
    position: relative;
}

.img_sheave span {
    position: absolute;
    bottom: 0;
    right: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -moz-box-shadow: inset 0px 1px 2px #000000;
    -webkit-box-shadow: inset 0px 1px 2px #000000;
    box-shadow: inset 0px 1px 2px #000000;
    filter: progid:DXImageTransform.Microsoft.Shadow(strength = 1, direction = 180, color = '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 1, Direction = 180, Color = '#000000')";
    background: #c84563;
    padding: 1px 4px;
}

a.img_sheave span {
    color: #fff;
    font-size: 12px;
}
/* конец sv_messages */

/* начало click_to_login(popup) */
.login_and_registration_title {
    overflow: hidden;
}

.login_or_register_login {
    font-weight: 300;
    font-size: 22px;
    color: #b3b3b3;
    padding: 15px 0 15px 10px;
    margin-bottom: 24px;
    width: 70px;
}

.click_login {
    font-weight: 300;
    font-size: 22px;
    color: #c84563;
    padding: 15px 0 15px 10px;
    margin-bottom: 24px;
}

.login_and_registration_role {
    overflow: hidden;
    display: block;
}

.login_and_registration_role .sv-filter-cheack {
    margin: 0px 0px 0px 0px;
}

.login_and_registration_pointer {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
}

.login_and_registration_fields {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 16px;
}

.registration_fields_login {
    overflow: hidden;
    display: block;
    margin-top: 23px;
}

.registration_fields_login input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px 0px 0px 0px;
}

.binoculars {
    background: #c84563;
    width: 28px;
    height: 26px;
    border: none;
}

.login_and_registration_left {
    width: 400px;
}

.login_and_registration_right {
    width: 410px;
}

.login_and_registration2 {
    margin-top: 22px;
}

.login_and_registration3 {
    margin-top: 22px;
}

.login_and_registration3 input {
    width: 268px;
}

.login_and_registration4 {
    margin-top: 22px;
}

.login_and_registration8 {
    margin-top: 22px;
}

.login_arrow {
    background: image-url('sorted/arrow.png') no-repeat;
    width: 17px;
    height: 36px;
    display: block;
    float: left;
    margin: -6px 6px 0px 15px;
}

.login_and_registration8 span {
    font-family: 'Open Sans', sans-serif1;
    font-size: 12px;
    color: #128000;
    margin: 0px 0px 0px 31px;
}

.login_registration_select_down {
    margin-top: 28px;
    display: block;
}

.login_and_registration7 {
    margin-top: 22px;
}

.Iagree {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
}

.Iagree a {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    text-decoration: none;
}

.Iagree span {
    color: #c84563;
}

.Iagree input {
    margin: 0px 12px 0px 0px;
}

.sel-style-compact-mini-long {
    width: 274px;
}
/* конец click_to_login(popup) */

/* начало messages_finals */
.help-the-buyer {
    overflow: hidden;
    margin: 0px 0px 24px 79px;
    display: block;
}

.block_questions_customer {
    border: 1px solid #f1849d;
    width: 500px;
}

.block_name_customer {
    background: #f1849d;
    color: #fff;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    padding: 2px 10px 3px 10px;
}

.block_name_customer span {
    color: #fff;
    font-family: 'Open Sans', sans-serif1;
    font-size: 10px;
    float: right;
}

.block_name_defendant {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    padding: 12px 10px;
}

.an_individual_buyer {
    margin: 0px 0px 0px 18px;
}

.help-the-business {
    overflow: hidden;
    display: block;
    margin: 24px 0;
}

.block_questions_business {
    border: 1px solid #c84563;
    width: 500px;
}

.block_name_business {
    background: #c84563;
    color: #fff;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    padding: 2px 10px 3px 10px;
}

.block_business {
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif1;
    font-size: 14px;
    padding: 12px 10px;
}

.an_individual_business img {
    padding: 2px;
    width: 45px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.an_individual_business {
    padding: 0px 29px 0px 0px;
}

.block_name_defendant img {
    margin: 17px 0px 0px 120px;
}

.history_of_posts .title {
    padding: 0px 0px 0px 0px! important;
}

.massej {
    padding: 0px 0px 0px 19px;
}

.an_indi img {
    padding: 2px;
    width: 45px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.description_inside_light {
    width: 220px;
}

.description_inside_light a {
    color: #c84563;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif1;
}

.fase_light {
    padding: 0px 13px 0px 8px;
}

.time_now {
    color: #f1849d;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif1;
}

.window_issue {
    color: #B3B3B3;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif1;
}

.time_letter {
    color: #f1849d;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif1;
    padding: 0px 0px 0px 0px;
}

.an_indi {
    padding: 0px 14px 0px 7px;
}

.bacgro-red {
    background: #C84563;
}

.withe_phon {
    color: #fff;
}

.bacgro-roseate {
    background: #FDE8ED;
}
