.sv-complaint {
  width: 650px;
  padding: 20px;
}

.sv-complaint__form {
  margin: 0px;
}

.sv-complaint__content {
  width: 630px !important;
  height: 100px !important;
  max-height: 100px !important;
  resize: none;
}