//.sv-firm-catalog-item{
//  background-position: center top;
//  height: 75px;
//  position: relative;
//  width: 300px;
//  margin-bottom: 6px;
//  &:hover{
//    .firm-catalog-title{
//      background: rgba(0, 0, 0, 0.7);
//    }
//  }
//  .firm-catalog-title {
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    right: 0;
//    height: 22px;
//    line-height: 22px;
//    padding: 0px 10px;
//    background: rgba(0, 0, 0, 0.55);
//    color: #fff;
//    h4{
//      margin-left: 0;
//    }
//  }
//}

#change-first-firm-catalog {
  width: 800px;
  padding: 30px;
  .items .firm_catalog{
    width: 240px;
  }
}

#side-firm-catalog-select{
  width: 630px;
  padding: 45px 10px 10px;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    &:nth-child(odd){
      margin-right: 10px;
    }
  }
}

.sv-admin-body{
  .sv-firm-catalog-item{
    .firm-catalog-title, .firm-catalog-logo, .firm-catalog-extended-name, .firm-catalog-category {
      display: inline-block;
    }
    .firm-catalog-title {
      min-width: 300px;
      h4 {
        margin-left: 0;
      }
    }
    .firm-catalog-logo{
      .green{
        color: #008000;
      }
      .red{
        color: #ff0000;
      }
    }
    .firm-catalog-extended-name, .firm-catalog-category{
      p{
        font-size: 80%;
      }
    }
    .firm-catalog-extended-name{
      min-width: 350px;
    }
  }
}