.program {
  margin: 10px 0;

  .name {
    font-weight: bold;
    line-height: 22px;
    font-size: 18px;
  }
  .description {
    line-height: 16px;
    font-size: 14px;
  }
  .time {
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
  }
}
