$('[data-js=community-avatar-image]').attr('src', '#{Community.new.avatar_url}');
$('.sv-community-avatar__action_edit').addClass('sv-community-avatar__action_hidden');
$('.sv-community-avatar__action_destroy').addClass('sv-community-avatar__action_hidden');
