$('#sv-admin-communities-list-box').html('#{j(render 'show', communities: @communities, community_category: @community_category)}');
$('#sv-admin-communities-info-box').html('');  
-# SendBox('.sv-tasks-box');
orderCommunities();
