#sv-firm-side-videos.block
  .title.clearfix
    = link_to firm_videos_path do
      %span Видеозаписи
    - if @firm.user.is? current_user
      = link_to new_video_path, class: 'add sv-videos-form-link', remote: true do
        %i Добавить
  - if @videos.present?
    %ul.sv-video-list-wrap.one-column
      - videos.first(2).each do |v|
        %li.sv-video-list-block
          .youtube[v]
            = link_to '', video_path(v), class: 'video sv-firm-video-link', data: { title: truncate(v.title, length: 20), youtube: v.content }, remote: true
            .sv-firm-video-link-bg
  - elsif for_moderator_of @firm
    .sv-empty-section
      .sv-empty-section__inner
        У вас еще нет ни одного видео, хотите
        = link_to 'добавить видео?', new_video_path, remote: true, class: 'sv-empty-section__link'
